<table>
	<th>{{ trans('Contact') }}</th>
	<th>{{ trans('File') }}</th>
	<th>{{ trans('Shared') }}</th>
	<th>{{ trans('Downloaded') }}</th> {% if isFidelbox %}
	<th>{{ trans('Share type') }}</th> {% endif %} {% for item in shares %}
	<tr>
		<td>{{ item.contactName }}</td>
		<td>{{ item.fileName }}</td>
		<td>{{ item.shareItem.shareTime }}</td>
		<td>{{ item.shareItem.downloadTime }}</td> {% if isFidelbox %}
		<td>{{ item.shareItem.downloadType }}</td> {% endif %}
	</tr>
	{% endfor %}
</table>