<div>
	<fieldset class="personalblock">
		<p>{% if( validFidelboxAccount) %} {{ trans('Active fidelbox.de account with ID = %s', fidelboxAccount) }} {% else %} {{ trans('Broken fidelbox.de account detected') }} {% endif %}</p>
		<button id="fidelapp_fidelbox_delete">{{ trans('Delete account') }}</button>
		<p>
			{% if( isReachable) %} {{ trans('This owncloud server can be reached from Internet') }} {% else %} <font color="RED"> {{ trans('Verification if this server can be reached from Internet failed with message "%s"', reachableFailedMsg) }} </font> {% endif %}
		</p>
	</fieldset>
</div>