<form action="{{ url('fidelapp_appconfig_display_captcha') }}" method="post">
	<div id="body-settings">
		<fieldset class="personalblock">
			<h2>{{ trans('Create Account') }}</h2>
			{{ trans('An account on fidelbox.de will be created with the purpose to enable dynamic IP address forwarding to your OwnCloud server and to provide a free download manager applet for encrypted downloading of files.<br><br>Transmission of data via the download applet is executed directly between the downloader and the OwnCloud server (peer-to-peer transmission), without offering System k2 GmbH any possibility to intercept, filter or alter the transferred content.<br><br> By creating an
			account, you agree to comply with and be bound by the following terms of use: ')|raw }}
			<div id="fidelbox_tos">{{ trans('The services located on fidelbox.de, owned or controlled by System k2 GmbH, are offered to you without charge.<br><br> You agree to only and exclusively use these services for purposes that do not violate any applicable law or rights of third parties.<br><br> System k2 GmbH will not store and use any private data.<br><br> To provide for the functionality of this service <ol> <li>your OwnCloud server\'s public IP address</li> <li>the configured
				Internet-Port</li> <li>and a distinct and definite user ID for each OwnCloud server instance</li> </ol> will be transmitted to fidelbox.de<br><br> System k2 GmbH is entitled to discontinue any provided special services, be they instrumental or crucial for the functionality of this application or not, at any time and without prealable notice, thus rendering the use of this service impossible.')|raw }}</div>
			<div>
				<input id="fidelapp_wizard_confirm_tos" class="primary" type="submit" value="{{ trans('create an account')|raw }}">
			</div>
		</fieldset>
	</div>
</form>