<div id="fidelapp">
	<div id="fidelapp_menuheader">&nbsp;</div>
	<div class="" id="leftcontent">
		<nav id="grouplist" class="ui-sortable">
			<h3 data-menu-item="fidelapp_menu_wizard" class="{{ menu == 'wizard' ? 'active' : '' }}">{{ trans('Configuration Wizard') }}</h3>
			<h3 data-menu-item="fidelapp_menu_shares" class="{{ menu == 'shares' ? 'active' : '' }}">{{ trans('Active shares / receipt notices') }}</h3>
			<h3 data-menu-item="fidelapp_menu_passwords" class="{{ menu == 'passwords' ? 'active' : '' }}">{{ trans('Stored Passwords') }}</h3>
			<h3 data-menu-item="fidelapp_menu_design" class="{{ menu == 'design' ? 'active' : '' }}">{{ trans('Corporate Design') }}</h3>
		</nav>
	</div>
	{% if(actionTemplate) %}
	<div id="rightcontent">{% include "#{actionTemplate}.twig" %}</div>
	{% endif %}
</div>
