
<table>
	<th>{{ trans('Contact') }}</th>
	<th>{{ trans('Password') }}</th>
	<th>&nbsp;</th>

	{% for item in shares %}
	{% set id = item.contactItem.id %}
	<tr id="fidelapp_password_{{ id }}">
		<td>{{ item.contactName }}</td>
		<td><input type="text" placeholder="{{ trans('Enter password') }}" value="{{ item.contactItem.password }}" />
		<a id="fidelapp_passwordSubmit_{{ id }}" class="checked disabled">&nbsp;&nbsp;</a></td>
		<td> <a id="fidelapp_passwordDelete_{{ id }}" class="fidelapp_delete">&nbsp;&nbsp;</a></td>
	</tr>
	{% endfor %}
</table>