{{ script('passwords') }}

<table id="fidelapp_password_table">
	<th>{{ trans('Contact') }}</th>
	<th>{{ trans('Password') }}</th>
	<th>&nbsp;</th>

	{% for item in shares %}
	{% set id = item.contactItem.id %}
	<tr data-contact-id="{{ id }}">
		<td>{{ item.contactName }}</td>
		<td><input id="fidelapp_password_{{ id }}" data-original-password="{{ item.contactItem.password }}" type="text" placeholder="{{ trans('Enter password') }}" value="{{ item.contactItem.password }}" />
		<a id="fidelapp_passwordSubmit_{{ id }}" class="checked disabled">&nbsp;&nbsp;</a></td>
		<td> <a id="fidelapp_contactDelete_{{ id }}" class="fidelapp_delete">&nbsp;&nbsp;</a></td>
	</tr>
	{% endfor %}
</table>