{{ script('shares') }}

<form  id="fidelapp_selector">
	<input id="fidelapp_activeshares_radio" {{ view == 'activeshares' ? 'class="active"' : '' }} type="button" value="{{ trans('Active shares') }}">
	<input id="fidelapp_receiptnotices_radio"  {{ view == 'receiptnotices'? 'class="active"' : '' }} type="button" value="{{ trans('Receipt notices') }}">
</form>
{%  include "#{view}.twig" %}
