<!-- fidelapp dropdown -->
<div id="fidelapp_dropdown" class="drop" data-item-type="{{ itemType }}" data-item-source="{{ itemSource }}">
	<input id="fidelapp_shareWith" type="text" placeholder="{{ trans('Share with') }}" />
	<a id="fidelapp_submitLink" class="action checked disabled">&nbsp;&nbsp;</a>
	<div>
		<ul id="shareWithFidelAppList">
			{% for contactShareItem in shareItems %}
			<li>
			{% set id = contactShareItem.contactItem.id %}
				<div data-contact-id="{{ id }}" data-share-id="{{ contactShareItem.shareItem.id }}">
					<div>
						<span class="fidelapp_icon fidelapp_key-{{ contactShareItem.contactItem.password ? 'green' : 'red' }}">&nbsp;</span>
						<span class="fidelapp_contact_email">{{ contactShareItem.contactItem.email }}</span>
						<span class="fidelapp_icon fidelapp_triangle">&nbsp;</span>
						<span class="fidelapp_icon fidelapp_delete">&nbsp;</span>
						{% if(contactShareItem.contactItem.password) %}
							<a href="{{ contactShareItem.mailToLink|raw }}"
								class="fidelapp_icon fidelapp_mailto"> &nbsp; </a>
						{% else %}
							<span class="fidelapp_icon fidelapp_mailto_disabled fidelapp_tooltip" title="{{ trans('Please choose a password first') }}">&nbsp;</span>
						{% endif %}
					</div>
					<div id="fidelapp_details_{{ id }}" class="fidelapp_contact_details{{ contactShareItem.contactItem.password ? ' hidden' : '' }}">
						<div>
							<label for="fidelapp_password_{{ id }}">{{ trans('Password') }}</label>
							<input id="fidelapp_password_{{ id }}" type="text" placeholder="{{ trans('Enter password') }}" value="{{ contactShareItem.contactItem.password }}" />
							<a id="fidelapp_passwordSubmitLink_{{ id }}" class="action checked disabled">&nbsp;&nbsp;</a>
						</div>
						{% if(fidelboxDownload) %}
						<div id="fidelapp_download_type_div">
							<div>
								<input id="fidelapp_direct_download_{{ id }}" type="radio" name="fidelapp_download_type_{{ id }}" value="BASIC" {{ contactShareItem.shareItem.downloadType == 'BASIC' ? 'checked="true"' : ''}}/>
								<label for="fidelapp_direct_download_{{ id }}" class="fidelapp_tooltip" title="{{ trans('Potentially insecure, no receipt notices') }}">{{ trans('Direct download (basic)') }}</label>
							</div>
							<div>
								<input id="fidelapp_managed_download_{{ id }}" type="radio" name="fidelapp_download_type_{{ id }}" value="SECURE" {{ contactShareItem.shareItem.downloadType == 'SECURE' ? 'checked="true"' : ''}}/>
								<label for="fidelapp_managed_download_{{ id }}" class="fidelapp_tooltip" title="{{ trans('The recipient needs to have a Java(TM)-Plugin for the browser') }}">{{ trans('Download manager (secure)') }}</label>
							</div>
						</div>
						{% endif %}
						<div>
							{% set disabled = 'readonly="true" class="fidelapp_tooltip" title="' ~ trans('Please choose a password first') ~ '"' %}
							<input id="fidelapp_showlink_{{ id }}" type="checkbox" name="fidelapp_showlink" value="{{ id }}" {{ contactShareItem.contactItem.password ? '' : disabled|raw }}/>
							<label for="fidelapp_showlink_{{ id }}">{{ trans('Show download link for this contact') }}</label>
						</div>
						<div id="fidelapp_shareLink_{{ id }}" class="hidden">
							<input class="fidelapp_url" type="text" readonly=true value="{{ contactShareItem.downloadUrl }}" />
						</div>
					</div>
				</div>
			</li> {% endfor %}
		</ul>
	</div>
</div>
