<div>
	<fieldset class="personalblock">
		<p>
			<input type="radio" name="fidelapp_fixedIpOrDomain" id="fidelapp_radio_fixedIp" value="fixedIp" readonly="true"      {{ selection2 == 'fixedIp' ? 'checked="true"' : '' }} />
			<label for="fidelapp_fixedIp">{{ trans('Fixed IP-Address') }}:</label>
			<input id="fidelapp_fixedIp" type="text" placeholder="x.x.x.x" maxlength="15"
			{% if selection2 == 'fixedIp' %} value="{{ domainOrIp  }}"
			{% else %} readonly="true"
			{% endif %} />
		</p>
		<p>
			<input type="radio" name="fidelapp_fixedIpOrDomain" id="fidelapp_radio_domainName" value="domainName" readonly="true"      {{ selection2 == 'domainName' ? 'checked="true"' : '' }} />
			<label for="fidelapp_domainName">{{ trans('Own Domain') }}:</label>
			<input id="fidelapp_domainName" type="text" placeholder="http://www.mycompany.com" maxlength="512"
			{% if selection2 == 'domainName' %} value="{{ domainOrIp  }}"
			{% else %} readonly="true"
			{% endif %} />
		</p>
		<button id="fidelapp_save">{{ trans('Save') }}</button>
	</fieldset>
</div>