<div>
	<fieldset class="personalblock">
		<p>
			<label for="fidelapp_password">{{ trans('Choose a password') }}:</label>
			<input id="fidelapp_password" type="text" placeholder="{{ trans('Enter password') }}" maxlength="15" />
		</p>
		<p>
			<img alt="fidelbox captcha" src="{{ urlFidelboxCaptcha }}">
		</p>
		<p>
			<label for="fidelapp_captcha">{{ trans('Enter characters shown above') }}:</label>
			<input id="fidelapp_captcha" type="text" placeholder="" maxlength="6" />
		</p>
		<p>
			<input type="checkbox" name="fidelapp_https" value="https" id="fidelapp_https"   {{ useSSL == 'true' ? 'checked="true"' : '' }} />
			<label for="fidelapp_https">{{ trans('Connection should be made via secure https') }}</label>
		</p>
		<button id="fidelapp_save">{{ trans('Save') }}</button>
	</fieldset>
</div>